.body{
    border:1px solid red;
}

.header{
    border:1px solid;
}

.main{
    border:1px solid;
}

.pictures-frame{
    border:1px solid;
}

.picture-frame{
    border:1px solid;
}

.cards-frame{
    border:1px solid;
}
.card-frame{
    border:1px solid;
}





